* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
    background-color: FFF8F3;
}

body {
    color: black;
    line-height: 1;
    font-family: "Yeseva One";
    font-size: 0.875rem;
    font-weight: 500;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Yeseva One";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
    flex: 1 1 auto;
}

[class*=-ibg] {
    position: relative;
}

[class*=-ibg] img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

[class*=__container] {
    max-width: 74.375rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

@media (min-width: 74.375em) {
    .header {
        height: 3.75rem;
    }
}

@media (min-width: 20em) and (max-width: 74.375em) {
    .header {
        height: calc(1.25rem + 2.5 * (100vw - 20rem) / 54.375);
    }
}

@media (max-width: 20em) {
    .header {
        height: 1.25rem;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3125rem;
    text-transform: uppercase;
}

.menu__list {
    display: flex;
}

@media (min-width: 74.375em) {
    .menu__list {
        gap: 1.25rem;
    }
}

@media (min-width: 20em) and (max-width: 74.375em) {
    .menu__list {
        gap: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 54.375);
    }
}

@media (max-width: 20em) {
    .menu__list {
        gap: 0.3125rem;
    }
}

@media (max-width: 760px) {
    .menu__list {
        flex-direction: column;
        justify-content: center;
        gap: 1.375rem;
        align-items: center;
        font-size: 0.75rem;
        margin-top: -2.5rem;
    }
}

.menu__link {
    transition: all 0.3s ease 0s;
}

.menu__link:hover {
    color: white;
    background-color: rgb(110, 110, 110);
}

@media (max-width: 760px) {
    .menu__link:hover {
        color: rgb(110, 110, 110);
        background-color: white;
    }
}

.header__contact {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.header__contact:hover {
    text-decoration: underline;
}

@media (max-width: 760px) {
    .header__contact {
        margin-right: 10rem;
    }
}

@media (max-width: 479px) {
    .header__contact {
        margin-right: 7.5rem;
    }
}

@media (max-width: 360px) {
    .header__contact {
        margin-right: 8.125rem;
    }
}

@media (max-width: 400px) {
    .header__number {
        font-size: 0.5rem;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: hidden;
    top: 0;
}

@media (max-width: 760px) {
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
    }
}

.menu__btn {
    display: none;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
}

@media (max-width: 760px) {
    .menu__btn {
        display: flex;
    }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: 7B6152;
    transition-duration: 0.25s;
}

.menu__btn > span::before {
    content: "";
    top: -8px;
}

.menu__btn > span::after {
    content: "";
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    right: 3.125rem;
    top: -100%;
    width: 9.5625rem;
    height: 15.875rem;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: 7B6152;
    color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    overflow: hidden;
    z-index: 10;
}

@media (max-width: 481px) {
    .menu__box {
        width: 6.25rem;
    }
}